//* ---main colors---*//

$color-text-main: #222222;
$color-text-secondary: #999999;
$color-light-accent: #fbed10;
$color-dark-accent: #222223;
$color-light-main: #ffffff;
$background-color-attention: #fafafa;

// //* ---colors-portfolio---*//
$color-border: #eeeeee;

// //*---fonts---*//
$font-family-main: Roboto, sans-serif;

// //*---time---*//
$timing-function-main: cubic-bezier(0.4, 0, 0.2, 1);
$time-main: 300ms;
