.button {
  width: 280px;
  height: 56px;
  background: $color-light-accent;
  border-radius: 0px 90px 0px 90px;
  border: none;
  padding: 0;

  font-weight: 900;
  font-size: 14px;

  text-align: center;
  text-transform: uppercase;

  color: $color-text-main;

  @media screen and (min-width: $mobile-second) {
    width: 440px;
    height: 70px;
    font-size: 18px;
  }

  @media screen and (min-width: $mobile-third) {
    width: 600px;
  }

  @media screen and (min-width: $tablet-first) {
    width: 280px;
  }

  @media screen and (min-width: $desktop) {
    width: 360px;
  }
}
