.container {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  .header & {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: $mobile-secondary) {
    width: $mobile-secondary;
  }

  @media screen and (min-width: $mobile-third) {
    width: $mobile-third;
  }
}
