.currency__list {
  display: flex;
  margin-bottom: 50px;

  @media screen and (min-width: $mobile-third) {
    margin-left: 40px;
    margin-bottom: 0;
    position: relative;
    top: 10px;
  }
}

.currency__item {
  padding-right: 4px;
  padding-left: 4px;
  position: relative;

  &:not(:last-child) {
    margin-right: 12px;

    @media screen and (min-width: $mobile-third) {
      margin-right: 20px;
    }
  }

  &--current {
    color: $color-light-accent;

    &::after {
      // display: none;
      content: '';
      position: absolute;
      bottom: -7px;
      left: 0;
      display: block;
      width: 100%;
      height: 3px;
      border-radius: 3px;
      background-color: $color-light-accent;
    }
  }
}

.currency__value {
  font-weight: 700;
  margin: 0;
  background-color: transparent;
  color: inherit;
  border: none;
  padding: 0;
}
