.logotype {
  background-color: #fbed10;
  color: black;
  fill: currentColor;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  border-radius: 9px;
}

.logotype__image {
  display: block;
  display: flex;
  padding: 9px;
  align-items: center;
  justify-content: center;
  fill: black;
}

.logotype__icon {
  display: block;
  // margin-left: 5px;
  width: 25px;
  height: 29px;
  fill: currentColor;
}
