.details {
  padding-bottom: 40px;
  padding-top: 40px;

  @media screen and (min-width: $mobile-third) {
    padding-top: 60px;
  }

  @media screen and (min-width: $tablet-first) {
    padding-bottom: 0;
  }
}

.details__form {
  width: 100%;
  // padding-right: 30px;
}

.details__type-box {
  @media screen and (min-width: $mobile-third) {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 40px;
  }
}

.details__title,
.result__title {
  margin-top: 0;
  margin-bottom: 0;
}

.details__label,
.details__term-label {
  color: $color-text-secondary;
  display: inline-block;
}

.details__label-type {
  margin-bottom: 40px;

  @media screen and (min-width: $mobile-third) {
    margin-bottom: 0;
  }
}

.details__label {
}

.details__select,
.details__amount-input {
  display: block;
  margin-top: 10px;
  width: 280px;
  height: 48px;
  font-size: 16px;
  line-height: 1.188;
  border: 2px solid $color-border;
  border-radius: 9px;
  padding: 12px 45px 12px 20px;
  background-color: transparent;
}

.details__select {
  @media screen and (min-width: $mobile-third) {
    width: 260px;
  }
}

.details__input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px;

  @media screen and (min-width: $mobile-second) {
    width: 440px;
  }

  @media screen and (min-width: $mobile-third) {
    width: 100%;
  }
}

.details__amount-rang {
  display: none;
  width: 240px;
  height: 38px;
  // font-size: 16px;
  // line-height: 1.188;
  -webkit-appearance: none;
  appearance: none;

  @media screen and (min-width: $mobile-third) {
    width: 360px;
  }

  @media screen and (min-width: $desktop) {
    width: 460px;
  }

  &::-webkit-slider-runnable-track {
    border-radius: 30px;
    height: 10px;
    border: none;
    background-color: $color-light-accent;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: $color-light-main;
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    width: 15px;
    height: 38px;
    cursor: pointer;
    margin-top: -14px;
  }

  @media screen and (min-width: $mobile-second) {
    display: inline-block;
  }
}

.details__amount-input {
  @media screen and (min-width: $mobile-second) {
    width: 160px;
    margin-top: 0;
    font-weight: 500;
    font-size: 14px;
  }

  @media screen and (min-width: $mobile-third) {
    width: 200px;
    height: 54px;
    font-size: 18px;
  }
}

.details__label-amount {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.details__label-term {
  margin-bottom: 40px;

  @media screen and (min-width: $mobile-second) {
    width: 100%;
  }

  @media screen and (min-width: $mobile-third) {
    margin-bottom: 0;
    width: 360px;
  }

  @media screen and (min-width: $desktop) {
    width: 460px;
  }
}

.details__amount-currency {
  position: absolute;
  top: 70%;
  right: 20px;
  display: block;
  transform: translateY(-50%);

  @media screen and (min-width: $mobile-second) {
    font-size: 14px;
    right: 15px;
  }

  @media screen and (min-width: $mobile-third) {
    font-size: 18px;
    right: 20px;
  }
}

.details__rate {
  background-color: $background-color-attention;
  border-radius: 15px;
  padding: 22px 20px;
  margin-bottom: 40px;

  @media screen and (min-width: $mobile-third) {
    margin-bottom: 0;
    width: 200px;
  }

  @media screen and (min-width: $desktop) {
    height: 126px;
  }
}

.details__title {
  color: $color-text-secondary;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin-bottom: 13px;

  @media screen and (min-width: $mobile-second) {
    margin-bottom: 10px;
  }
}

.details__text {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;

  color: $color-text-secondary;

  &--accent {
    font-weight: 700;
    font-size: 24px;

    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 6px;
    color: $color-text-main;
  }
}

.details__term-box {
  @media screen and (min-width: $mobile-third) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  @media screen and (min-width: $tablet-first) {
    margin-bottom: 40px;
  }
}

.details__term-list {
  width: 280px;

  @media screen and (min-width: $mobile-third) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: $desktop) {
    width: 560px;
  }
}

.details__term-start,
.details__term-end {
  width: 280px;
  height: 54px;
  padding: 16px 20px;
  font-weight: 500;
  font-size: 18px;
  color: $color-text-main;
  background-color: transparent;
  border: 2px solid $color-border;
  border-radius: 9px;
  margin-top: 10px;

  @media screen and (min-width: $desktop) {
    width: 260px;
  }
}

.details__term-item {
  position: relative; ////

  @media screen and (min-width: $mobile-third) {
    width: 280px;
  }

  @media screen and (min-width: $desktop) {
    width: 260px;
  }
}

.details__term-item .details__term-label {
  position: relative;
}

.calendar {
  position: absolute;
  fill: #eeeeee;
  top: 68%;
  right: 20px;
  display: block;
  transform: translateY(-50%);
}

.details__term-item:not(:last-child) {
  margin-bottom: 40px;

  @media screen and (min-width: $mobile-third) {
    margin-bottom: 0;
  }
}
